@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23006b7c' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
  user-select: none;
}

/* NAVEGACION */

header {
  padding: 15px;
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(12, 12, 12),
    rgb(0, 50, 47),
    rgb(0, 100, 95),
    rgb(0, 150, 143),
    rgb(0, 200, 173),
    rgb(0, 255, 220)
  );
  background-size: 500%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  animation: change 10s ease infinite;
}

header img {
  height: 50px;
  margin-left: 20px;
  position: absolute;
}

header h2 {
  color: whitesmoke;
  text-align: left;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 35px;
  margin-left: 80px;
  user-select: none;
}

header ul {
  display: flex;
  list-style: none;
}

header li {
  margin-right: 3pc;
}

header a {
  text-decoration: none;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 19px;
  padding: 12px 10px;
  user-select: none;
}

header #inicactivo {
  text-decoration: none;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 19px;
  padding: 12px 10px;
  user-select: none;
  background: #ffffff;
  border-radius: 3px;
}

header a:hover {
  color: black;
  background: whitesmoke;
  border-radius: 3px;
  transition: all 0.3s linear;
}

/* INFO GENERAL */

.datos {
  justify-content: center;
  margin-top: 120px;
  margin-left: 90px;
  align-items: center;
  display: inline-block;
}

#uni {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  padding: 0 0 0 50px;
}

.datosp {
  margin-top: 10px;
  padding: 50px;
  font-family: "Inconsolata", monospace;
}

.categ {
  display: inline-block;
  font-size: 15px;
  color: rgb(0, 20, 19);
}

.categd {
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
  user-select: none;
  color: rgb(29, 29, 29);
}

#logoU {
  height: 250px;
  user-select: none;
  vertical-align: bottom;
  margin-left: 30px;
}

#tux{
  height: 240px;
  user-select: none;
  vertical-align: bottom;
  margin-left: 30px;
}

/* SOCIAL BAR */
.socialbar {
  position: fixed;
  top: 320px;
  margin-left: 20px;
}

.socialbar a {
  color: rgba(0, 58, 55, 0.904);
  display: block;
  font-size: 35px;
  text-decoration: none;
  margin-bottom: 10px;
}

.socialbar a:hover {
  margin-left: 10px;
  transition: all 0.5s ease;
}

/* SCROLLBAR 

::-webkit-scrollbar {
  width: 14px;
  background-color: rgb(1, 24, 22);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgb(224, 224, 224);
  background-image: url("/img/bars-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

::-webkit-scrollbar-button {
  background-color: rgb(63, 63, 63);
}

*/ 

/* ANIMATION */

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
